<footer class="bg-theme-light dark:bg-darkmode-theme-light">
  <div class="border-t border-border py-7 dark:border-darkmode-border">
    <div class="container text-center text-light dark:text-darkmode-light">
      <p>© 2024 xieyezi</p>
    </div>
  </div>
</footer>
